<style>

body {
  /*background-image: url('barback.png');*/
}

.jumbotron {
	height: 250px;
	text-align: center;
}

.jumbotron#barback-img {
	background-image: url('assets/barback.png');
	background-size: cover;
	height: 350px;

}

</style>

<script>


</script>

<div class="container-fluid">
	<div class="">
	  <div class="show-establishment-box">

	    <div id="center-text">
	      <h2> How it Works</h2>
	    </div>

	  </div>

		<div class="jumbotron">
		  <div class="container" >
				<h2> 
					<span id="first"> Bars and Restaurants Post their deals </span>
				</h2>
		  </div>
		</div>

		<div class="jumbotron" id="barback-img">
		</div>

		<div class="jumbotron">
		  <div class="container">
				<h2> 
					<span id="second">You subscribe to notifications for your favorite places </span> 
				</h2>
		  </div>
		</div>

		<div class="jumbotron" id="barback-img">
		</div>

		<div class="jumbotron">
		  <div class="container">
				<h2>
					<span id="third"> Receive both impromptu and weekly deals / specials </span> 
				</h2>
		  </div>
		</div>

		<div class="tester" style="display:none;">
			what
		</div>
	</div>
</div>