<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Commission This Artist</title>
  <style type="text/css">
  table { font-family: Helvetica; font-weight: 100;letter-spacing: -0.2;}
  body, td { color:#000000; font-size:14px; font-family:Helvetica; text-align: center;font-weight: 100;letter-spacing: -0.2;}
  .divider { background-color:#555555; height:2px; }
  .small-divider { background-color:#555555; height:1px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}

  tr { text-align: center; }
  td { text-align: center; }
  p { text-align: center; }

  </style>
</head>

<body>
  <h1> Weekly Specials </h1>
  <p> <%= @specials %> </p>
  <table>
  </table>
</body>
</html>
