<div class="semi-background">
  <div class="show-establishment-box">
    <h2 class="important-header" id="center-text" style="">Your Favorite Deals </h2>
  </div>
</div>

<div class="my-table-container">
  <% @deals.each do |deal| %>
    <div class="featurette">
        <h3 class="featurette-heading" style="color:red;"> 
          <div id="details">
            <span id="bold-large-link"><%= link_to deal.keyword, deal %></span>
              <% if @current_user.favorited_deals.include? deal %> 
                <span id="bold-large-link-glyph">
                  <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "unfavorite"), method: :put %>
                    <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                </span>
              <% else %>
                <span id="bold-large-link-glyph">
                  <%= link_to ('<span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>').html_safe,   favorite_deal_path(deal, type: "favorite"), method: :put, style: 'color:grey;' %>
                    <!-- <span style="" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                </span>
              <% end %>
            </div>
        </h3>

        <div class="field">
          <% if deal.establishment %>
            <p> by 
              <span id="bold-link"><%= link_to deal.establishment.name, deal.establishment %> </span>
              <span id="footnote-text"> (<%= deal.updated_at.strftime("%a. %m/%d/%y at %I:%M%p")%>) </span>
            </p>
          <% end %>
          <%= deal.description %>
          <% if deal.temporary? %>
            <p>limited time only </p>
          <% else %>
            <p> every week! </p>
          <% end %>
  <!--  <td><% link_to 'Edit', edit_deal_path(deal) %></td>
        <td><% link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </div>

        <hr class="featurette-divider"/>
    </div>
  <% end %>
</div>
