/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
  /*color:#3aa5dc;*/
  color: #668eaa;
 }


 h2 {
  color:#3aa5dc;
 }

 h3 {
  color:#668eaa;
 }

 h4#sidebar-header {
  color:#668eaa;
 }

#wrapper, #right-sidebar-wrapper {
  /*border: 1px solid green;*/
}

.sidebar-nav {
  /*border: 1px solid orange;*/
  /*border-right: 1px solid gray;*/
}

#left-sidebar {
  border-right: 1px solid gray;
}

hr {
  width: 80%;
}

#sidebar-wrapper {
  /*border: 1px solid yellow;*/
  width: 250px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    /*width: 0;*/
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
/*    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

#right-sidebar-wrapper {
  /*border: 1px solid yellow;*/
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 3px;
  width: 350px;
  z-index: 1000;
  position: absolute;
  right: 350px;
  /*width: 0;*/
  height: 100%;
  margin-right: -330px;
  overflow-y: auto;
  background: white;
  padding-right: 2em;
}

#right-sidebar-permanent {
    /*border: 1px solid yellow;*/
  border: 1px solid gray;
  border-radius: 3px;
  width: 350px;
  z-index: 1000;
  position: absolute;
  right: 350px;
  /*width: 0;*/
  height: 100%;
  margin-right: -330px;
  overflow-y: auto;
  background: white;
  top: 0;
}

#page-content-wrapper {
    width: 100%;
    left: 250px;
    position: absolute;
    padding: 15px;
    /*margin-top: -10px;*/
    /*border: 3px solid black;*/
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#sidebar-header {
    font-family: helvetica;
    font-size: 1.5em;
}


.new-form {
	width: 50%;
	/*text-align: center;*/
	border: 2px solid green;

	margin-left: 25%;
	margin-top: 2.5em;
	margin-bottom: 4em;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 7em;
}

.show-establishment-box {
  width: 50%;
  /*text-align: center;*/
  border-bottom: 2px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;

  margin-left: 25%;
  margin-top: 0.5em;
  margin-bottom: 2em;
  padding-top: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  background-color: white;
/*  background-image: url('barback.png');
  background-size: contain;
  font-color:white;*/
}

.show-establishment-box-new {
  border-bottom: 2px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding-top: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  background-color: white;
}

.new-wider-form {
  width: 60%;
  /*text-align: center;*/
  border: 2px solid green;
  margin-left: 20%;
  margin-top: 2.5em;
  margin-bottom: 4em;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 7em;
}

.left-form-container {
  width: 49%;
  /*text-align: center;*/
  /*border: 2px solid green;*/
  border-right: 1px solid gray;
  float:left;
  margin-left: 1%;
  padding-top: 1em;
  /*padding-left: 3em;*/
  /*padding-right: 3em;*/
  padding-bottom: 3em;
}


.right-form-container {
  width: 49%;
  /*text-align: center;*/
  /*border: 2px solid green;*/
  /*border-left: 1px solid gray;*/
  float: right;
  margin-right: 1%;
  padding-top: 1em;
  /*padding-left: 3em;*/
  /*padding-right: 3em;*/
  padding-bottom: 3em;
}

.my-table-container {
	width: 90%;
	/*text-align: center;*/
	/*border: 2px solid orange;*/

	margin-left: 5%;
	margin-top: 2.5em;
	margin-bottom: 20em;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 7em;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 10px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
  /*height: 200px;*/
  /*border: 5px solid green;*/
  padding-left: 20px;
  margin-bottom: -15px;
}

/*.featurette.lovish {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  line-height: 10px;
}*/

.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
  height: 300px;
  width: auto;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
  height: 250px;
  padding-top: 7.5%;
  padding-right: 7.5%;

}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 25px;
  font-weight: 300;
  /*line-height: 1;*/
  letter-spacing: -1px;
}

.lead {
  font-size: 15px;
  font-weight: 300;
  /*line-height: 1;*/
  letter-spacing: -1px;
}

#center-text {
  text-align: center;
}

#details  {
  font-size: 1.25em;
  display: inline;
  font-weight: 200;
}

li {
    list-style-type: none;
}


#bold-link a {
    color:#00a0af;
}

#bold-link a:hover {
    color:#00a0af;
    background-color: white;
    text-decoration: none;
}

#bold-large-link, #bold-large-link a {
    color: #3aa5dc;
    /*font-size: 2em;*/
}

#bold-large-link a:hover {
    color: #3aa5dc;
    background-color: white;
    text-decoration: none;
}

#bold-large-link-glyph, #bold-large-link-glyph a {
    color: #3aa5dc;
    padding-left: 2px;
    background-color: white;
}

#footnote-text {
  font-size: 0.80em;
}


.testing {
  border: 2px solid green;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu {
  z-index: 2000;
}

#notice {
  font-family: helvetica;
  padding:3px;
  text-align: center;
  /*border: 5px solid blue;*/
}

#small-text {
  font-weight: 200;
  font-size: 0.8em;
  font-family: helvetica;
}

#center-info {
  text-align: center;
  font-weight: 200;
  font-size: 1.4em;
  font-family: helvetica;
}

.important-header {
  font-family: 'Pacifico', cursive;
  color:#668eaa;
}

.select {
  width: 25em;
}

textarea#deal_description {
  /*background-color: green;*/
  width: 35em;
  height: 5em;
  resize: none;
}

.field {
  /*font-weight: 100;*/
}

.address-oneliner {
  font-size: 0.75em;
  margin-top: -50px;
}

.semi-background {
  background-image: url('barback.png');
  padding-bottom: 10em;
}

p.alert {
  background-color: blue;
  text-align: center;
  display: none;
}
p.notice {
  /*background-color: gray;*/
  /*display: none;*/
}
.notice {
  text-align: center;
}

#error_explanation {
  background-color: white;
  border: 2px solid red;
  border-radius: 3px;
  font-weight: 100;
  text-decoration: none;
  font-family: helvetica;
}

#error_explanation h2 {
  font-family: helvetica;
  color:red;
  background-color: white;
  font-weight: 200;
}

#error_explanation ul{
  text-decoration: none;
}

#error_explanation ul li{
  text-decoration: none;
}
/*a {
  color: green;
}*/
